<!DOCTYPE html>
<html lang="en">
  <%- include('./components/header.ejs') -%>

  <body class="text-darkBlue bg-white scroll-smooth">
    <!--Navbar-->
    <% if (user == null) { %> <%- include('./components/navbar.ejs') -%> <% } %>

    <!--Hero section-->

    <% if (user == null) { %> <%- include('./components/hero.ejs') -%> <% } %>
    <% if (user !== null) { %> <%- include('./components/userHero.ejs') -%> <% }
    %>

    <main>
      <!--Lists Section-->

      <%- include('./components/lists.ejs') -%>
    </main>

    <script src="http://localhost:5000/js/script.js"></script>
    <script
      src="https://kit.fontawesome.com/bb1b9a6661.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
